
.home-search {
    position: absolute;
    top: 35%;
    right: 20%;
    z-index: 1;
    display: flex;
}
.home-search-divider{
    margin: 10px;
}
.home-search-form{
    display: flex;
}
.home-search-button{

    width: 100px;
    height: 67px;
    border-radius: 30px;
    content: close-quote;
    color: black;
    font-size: 14px;
}
.home-search-trade{
    width: 533px;
    border: 1px solid #1b2e4b;
    padding: 8px;
    font-size: 15px;
    transition: width 0.2s;
    -webkit-appearance: none;
    height: 67px;
    border-radius: 30px;
}
.home-search-location{
    width: 271px;
    border: 1px solid #1b2e4b;
    padding: 8px;
    font-size: 15px;
    transition: width 0.2s;
    -webkit-appearance: none;
    height: 67px;
    border-radius: 30px;
}

@media (max-width: 375px) {
    .home-search {
        top: 12%;
    }
}
@media (max-width: 768px) {
    .home-search {
       top: 15%;
    }

}
/*---------------------------------------------------------------*/
.tradesmen-search {


    z-index: 1;
    display: flex;
}
.tradesmen-search-divider{
    margin: 10px;
}
.tradesmen-search-form{
    display: flex;
}
.tradesmen-search-button{

    width: 100px;
    height: 67px;
    border-radius: 30px;
    content: close-quote;
    color: black;
    font-size: 14px;
}
.tradesmen-search-trade{
    width: 533px;
    border: 1px solid #1b2e4b;
    padding: 8px;
    font-size: 15px;
    transition: width 0.2s;
    -webkit-appearance: none;
    height: 67px;
    border-radius: 30px;
}
.tradesmen-search-location{
    width: 271px;
    border: 1px solid #1b2e4b;
    padding: 8px;
    font-size: 15px;
    transition: width 0.2s;
    -webkit-appearance: none;
    height: 67px;
    border-radius: 30px;
}
