
.home-search {
    position: absolute;
    top: 35%;
    right: 20%;
    z-index: 1;
    display: flex;
}
.home-search-divider{
    margin: 10px;
}
.home-search-form{
    display: flex;
}
.home-search-button{

    width: 100px;
    height: 51px;
    /*border-radius: 30px;*/
    content: close-quote;
    color: black;
    font-size: 14px;
}
.home-search-trade{
    width: 533px;
    /*border: 1px solid #1b2e4b;*/
    /*padding: 8px;*/
    /*font-size: 15px;*/
    /*transition: width 0.2s;*/
    /*-webkit-appearance: none;*/
    /*height: 67px;*/
    /*border-radius: 30px;*/
}
.home-search-location{
    width: 271px;
    /*border: 1px solid #1b2e4b;*/
    /*padding: 8px;*/
    /*font-size: 15px;*/
    /*transition: width 0.2s;*/
    /*-webkit-appearance: none;*/
    /*height: 67px;*/
    /*border-radius: 30px;*/
}

@media (max-width: 375px) {
    .home-search {
        top: 0%!important;
    }
    .home-search-trade{
        width: 280px!important;
        height: 35px!important;
    }
    .home-search-location{
        width: 280px !important;
        height: 35px!important;
    }
    .home-search-button {

        height: 35px!important;

    }
    .search-button-small{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {

    .home-search {
       top: 12%;
        right: 10%
    }
    .home-search-trade{
        width: 315px;
    }
    .home-search-location{
        width: 100%;
    }
    .home-search-form{
        display: unset;
    }

}
/*---------------------------------------------------------------*/
.tradesmen-search {


    z-index: 1;
    display: flex;
}
.tradesmen-search-divider{
    margin: 10px;
}
.tradesmen-search-form{
    display: flex;

}
@media (max-width: 768px){
    .tradesmen-search-form {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.tradesmen-search-button{

    width: 100px;
    height: 67px;
    border-radius: 30px;
    content: close-quote;
    color: black;
    font-size: 14px;
}
.tradesmen-search-trade{
    width: 533px;
    border: 1px solid #1b2e4b;
    padding: 8px;
    font-size: 15px;
    transition: width 0.2s;
    -webkit-appearance: none;
    height: 67px;
    border-radius: 30px;
}
.tradesmen-search-location{
    width: 271px;
    border: 1px solid #1b2e4b;
    padding: 8px;
    font-size: 15px;
    transition: width 0.2s;
    -webkit-appearance: none;
    height: 67px;
    border-radius: 30px;
}











/*-----------------*/
@media (min-width: 1200px){
    .sign-wrapper {
        width: 390px;
    }
}
.card-profile .card-img-top{
    border: 1px solid #1b2e4b;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
}
.select2-container .select2-selection--single {
    height: 51px !important;
}
.tradesmen-search-page{
    display: flex;
    justify-content: center;
}
